<main>
    <section class="home">
        <form action="/" method="post" class="form">
            <h1 class="title">Video Streaming</h1>
            <div class="form-content">
                <label for="name">Nome da Sala:</label>
                <input type="text" placeholder="Nome da sala" name="name" required>
            </div>
            <button class="btn-create">Criar sala</button>
        </form>
    </section>
</main>